.home-screen{
    height: 92vh;
    width: 100%;
    background-color: #3aafa9;
    display: block;

    img {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 500px) {
    .home-screen {
        img {
            margin: 15px 0px !important;
            width: 75%;
            overflow: hidden;
        }

        .img-2 {
            margin-left: 25% !important;
        }
    }
}