<div class="home-screen">
    <img href="https://unsplash.com/photos/L4iKccAChOc?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" style="margin-left: 25%;" width="300px" src="../../assets/one.jpg">
    <br>
    <img href="https://unsplash.com/photos/rCOWMC8qf8A?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" style="margin-left: 35%;" width="300px" src="../../assets/two.jpg">
    <br>
    <img href="https://unsplash.com/photos/hIgeoQjS_iE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" style="margin-left: 45%;" width="300px" src="../../assets/three.jpg">
</div>