<div class="signin-container">
    <br>
    <h1 class="registration-header">Patient Registration Form</h1>
    <br>
    <form [formGroup]="signupForm">
        <label class="names">
          First Name:
          <input type="text" formControlName="firstName">
        </label>
        <br class="mobile-break">

        <label class="names">
          Middle Name:
            <input type="text" formControlName="middleName">
          </label>
          <br class="mobile-break">
      
        <label class="names">
          Last Name:
          <input type="text" formControlName="lastName">
        </label>
        <br>
      
        <label class="long">
            Email:
            <input type="email" formControlName="email">
        </label>

        <br>

        <label class="phone">
            Phone:
            <input type="tel" formControlName="phone">
        </label>

        <label class="dob">
            Date of Birth:
            <input type="date" formControlName="dob">
        </label>

        <section class="example-section">
          <label class="example-margin">Gender:</label>
          <mat-radio-group>
            <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
            <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
          </mat-radio-group>
        </section>

        <label class="long">
            Password:
            <input type="password" formControlName="password">
        </label>

        <br>

        <label class="long">
            Confirm Password:
            <input type="password" formControlName="confirmPassword">
        </label>

        <br>

        <div class="button-container">
            <button mat-raised-button class="clear" color="accent">Clear</button>

            <button mat-raised-button class="submit" color="accent">Submit</button>
        </div>
      </form>
      
</div>