.signin-container {
    width: 90%;
    background-color: #2b7a78;
    color: #fff;
    text-align: center;
    margin: 0 5%;
}

.registration-header {
    margin: 0;
    font-weight: 400;
}

label {
    height: 100px;
    text-align: left;
    display: inline-block;
    margin: 0 20px;
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-weight: 300;

    input {
        display: block;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #3aafa9;
        padding: 0 20px;
    }
}

.long {
    width: 55%;

    input {
        width: 100%;
    }
}

.button-container {
    width: 56%;
    margin: 20px 22%;
    text-align: left;

    .submit {
        margin-bottom: 25px;
    }

    .clear {
        float: right;
    }
}