<div class="login-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="registration-header">Login Form</h1>
    <br>
    <br>
    <br>
    <form [formGroup]="loginForm">
        <br>

        <label class="long">
            Reg:
            <input type="string" formControlName="reg">
        </label>

        <br>

        <label class="long">
            Password:
            <input type="password" formControlName="password">
        </label>

        <br>

        <div class="button-container">
            <button mat-raised-button class="submit" color="accent">Login</button>
        </div>
      </form>
      
</div>