.home-background {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(./../../../assets/images/gloves.jpg);
    background-position: 0% 65%;
    background-size: cover;
}